*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: url('../imagenes/background-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face{
	font-family: 'font_title';
	src: url("../fonst/home_away/HomeAway.otf");
}

@font-face{
	font-family: 'font_parrafo';
	src: url("../fonst/modern_sans/ModernSans-Light.otf");
}

.container{
	width: 100%;
	min-height: 100vh;
	/*border: solid red 1px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*position: relative;*/
}

.cabecera{
	width: 100%;
	height: 100vh;
	/*position: absolute;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*border: solid blue 1px;*/
}
.cabecera_shadow{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top:  0;
}
.contiene_foto{
	width: 100%;
	height: 50vh;
	/*border: solid red 1px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.contiene_foto > .foto{
	width: 220px;
	height: 220px;
    position: absolute;
    border-radius: 50%;
    background-image: url('../imagenes/wellcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.contiene_titulo{
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	/*border: solid red 1px;*/
}
.contiene_titulo > h1 {
	font-size: 130px;
	font-family: 'font_title';
	color:  #fafafa;
}
.contiene_titulo > h4 {
	font-size: 50px;
	font-family: 'font_title';
	color:  #fafafa;
}
.contiene_titulo > p {
	font-size: 20px;
	font-family: 'font_title';
	color:  #fafafa;
	text-decoration: underline;
}

@media all and (max-width: 600px) {
	.contiene_foto > .foto {
		width: 150px;
		height: 150px;
	}

	.contiene_titulo > h1{
		font-size: 90px;
	}

	.contiene_titulo > h4 {
		font-size: 30px;
	}
	.contiene_titulo > p {
		font-size: 18px;
	}
}



/* sobre mi  */

.about_me{
	width: 100%;
	height: 100vh;
	padding-left: 5%;
	padding-right: 5%;
	/*border: solid red 1px;*/
}
.about_me_title{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about_me_title > label, .galeria_title > label, .form_title > label {
	font-size: 100px;
	text-decoration: underline;
	color:  #9c27b0;
	font-family: "font_title";
}

.about_me_desciption{
	width: 100%;
	height: 80vh;
	/*border: solid blue 1px;*/
	display: flex;
	justify-content: right;
	align-items: center;
	overflow-x: hidden;
}
.description_imagen{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: solid red 1px;*/
}
.description_imagen > img{
	width: 100%;
	height: 80%;
	border-radius: 1rem;
}
.description{
	width: 50%;
	height: 100%;
	/*border: solid blue 1px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: justify;
	padding-right: 5%;
	padding-left: 5%;
}
.description > p{
	font-size: 23px;
	font-family: "font_parrafo";
	line-height: 1.5;
}

@media all and (max-width: 600px) {

	.about_me_title > label, .galeria_title > label, .form_title > label {
		font-size: 70px;
	}

	.about_me_desciption{
		display: flex;
		flex-direction: column;
	}

	.description_imagen{
		width: 100%;
		height: 50vh;
	}

	.description_imagen > img{
		width: 80%;
	}

	.description{
		width: 100%;
		height: auto;
	}

}

/* Galeria  */

.galeria{
	width: 100%;
	height: auto;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom: 5%;
	/*border: solid red 1px;*/
}
.galeria_title{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #9c27b0;
}
.galeria_pictures{
	width: 100%;
	height: auto;
	/*border: solid blue 1px;*/
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.galeria_pictures > img {
	width: 250px;
	height: 200px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 1px;
	border-radius: 10px;
	cursor: pointer;
}

@media all and (max-width: 600px) {
	.galeria_pictures{
		/*flex-direction: column;*/
	}

	.galeria_pictures > img {
		width: 150px;
		height: 100px;
		cursor: pointer;
	}
}

/* formulario */

.contiene_errors{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.errors{
	visibility: hidden;
	color: red;
	font-family: 'font_parrafo';
	font-size: 25px;
}

.form_contact{
	width: 100%;
	height: 100vh;
	/*margin-top: 10pc;*/
	/*border: solid red 1px;*/
}

.form_title{
	width: 100%;
	height: 20vh;
	/*border: solid blue 1px;*/

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'font_title';
}

.full_name {
	width: 100%;
	height: 10vh;
	/*border: solid blue 1px;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.full_name > input {
	width: 40%;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	border-color: transparent;
	padding-left: 10px;
	font-family: 'font_parrafo';
}

.full_name > input:focus {
	outline-color: #9c27b0;
	/*border-color: #9c27b0;*/
}

.correo {
	width: 100%;
	height: 10vh;
	/*border: solid blue 1px;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.correo > input {
	width: 40%;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	border-color: transparent;
	padding-left: 10px;
	font-family: 'font_parrafo';
}

.correo > input:focus {
	outline-color: #9c27b0;
	/*border-color: #9c27b0;*/
}

.mensaje{
	width: 100%;
	height: 40vh;
	/*border: solid blue 1px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.mensaje > textarea {
	width: 87%;
	height: 90%;
	font-size: 20px;
	border-radius: 10px;
	border-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	resize: none;
	font-family: 'font_parrafo';
}
textarea:focus {
	outline-color: #9c27b0;
	border-color: #9c27b0;
}
#changeTextArea {
	position: absolute;
	right: 8%;
	bottom: 7%;
}

.contiene_buttons {
	width: 100%;
	height: 10vh;
	/*border: solid blue 1px;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.contiene_buttons > button{
	width: 50%;
	height: 90%;
	cursor: pointer;
	background: #fff;
	border: solid #9c27b0 3px;
	border-radius: 1rem;
	color: #9c27b0;
	font-size: 25px;
	font-family: 'font_parrafo';
}

.footer{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer > span{
	color:  #9c27b0;
	font-family: 'font_parrafo';
}

@media all and (max-width: 600px) {
	 .form_title > label {
	 	font-size: 40px;
	 }
}

/* modal para las imagenes  */

.container_modal{
	width: 100%;
	height: 100vh;
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}
.show_modal{
	visibility: visible;
}

.modal{
	width: 80%;
	height: 80%;
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.contiene_imagenes{
	width: 99%;
	height: 99%;
	border-radius: 1rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position:  relative;
}

.close{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	color:  #fff;
	font-size: 42px;
	font-weight: bold;
	top:  1px;
	right: 1px;
	cursor: pointer;
	font-family: 'font_parrafo';
}

.arrow_left{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	color:  #fff;
	font-size: 42px;
	font-weight: bold;
	top:  40%;
	left: 0;
	cursor: pointer;
	opacity: 0;
}
.arrow_right{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	color:  #fff;
	font-size: 42px;
	font-weight: bold;
	top:  40%;
	right: 0;
	cursor: pointer;
	opacity: 0;
}
.arrow_left:hover, .arrow_right:hover, .close:hover{
	background-color: rgba(0,0,0,0.3);
	color: #9c27b0;
}

.state_bar{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ball {
	width: 10px;
	height: 10px;
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 50%;
	background-color: #fff;
}
.activeBall {
	background-color: #9c27b0;
}